.message {
    color: black;
    display: flex;
    background-color: #e3eafc;
    height: fit-content;
    max-width: 80%;
    min-width: 50%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    height: 1rem;
    align-items: center;
}

.messageMio {
    align-self: flex-end;
}

.messageOtro {
    align-self: flex-start;
}