.chats {
    display:grid;
    grid-template-columns: 
    40% 60%;
    grid-template-areas: 
    "contenedorcontactos contenedorchatindividual";
    background-color: black;
    height: 100vh;
}

.contenedorcontactos {
    padding: 1rem;
    grid-area: "contenedorcontactos";
    color: black;
    background-color: #f5f7fa;
    min-height: 100%;
    border-color: black;
}

.contenedorchatindividual{
    display: grid;
    grid-area: "contenedorchatindividual";
    display: flex;
    min-height: 100%;
    background: linear-gradient(135deg, #1976d2 0%, #f5f7fa 100%); 
    justify-content:flex-end;
    align-items:center;
    flex-direction: column;
    row-gap: 2rem;
}