.chats {
    display:grid;
    grid-template-columns: 
    40% 60%;
    grid-template-areas: 
    "contenedorcontactos" "contenedorchat";
}

.contenedorcontactos {
    padding: 1rem;
    grid-area: "contenedorcontactos";
    color: white;
}

.contenedorchat{
    display: grid;
    grid-area: "contenedorchat";
}

.chatvacio {
    background-color: rgb(46, 42, 42);
    color: white;
    
}