.chats {
    display:grid;
    grid-template-columns: 
    40% 60%;
    grid-template-areas: 
    "contenedorcontactos contenedorchatindividual";
    background-color: black;
}

.contenedorcontactos {
    padding: 1rem;
    grid-area: "contenedorcontactos";
    color: white;
}

.contenedorchatindividual{
    display: grid;
    grid-area: "contenedorchatindividual";
}

.chatvacio {
    background-color: rgb(46, 42, 42);
    color: white;
}